@import "tailwindcss";

@layer base {
  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #000000;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #52525b; /* zinc-600 */
    border-radius: 4px;
    border: 2px solid #000000; /* Create padding effect */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1aa; /* zinc-400 */
  }
}